* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

header{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: end;
  align-items: center;
}



.btns{
  padding: 20px;
   display: flex;
   gap: 20px;
  
}

.btns button{
  padding: 8px 18px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid black;
  font-size: 20px;
  background-color: rgba(0, 0, 255, 0.582);
  color: white;
}

.btns button:hover{
  color: white;
}

.main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.registerForm {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 20px;
  gap: 40px;
}

form input{
  padding: 12px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid black;
  font-size: 20px;
}

form button{
  padding: 12px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid black;
  font-size: 20px;
  font-weight: lighter;
  background-color: rgba(0, 0, 255, 0.596);
  color: #fff;
}

button:hover{
  background-color: blue;

}
  


.fetchDataDiv{
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;  
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.dataWrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 20px;
}


